.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 18px;
	font-weight: 900;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c2;
	&:hover{
		background: darken(@c2,5);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: @c2;
		}
	}
}