// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Titillium Web',sans-serif;} // font header
.fs {font-family: 'Leckerli One',sans-serif;} // font special
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #4d4d4d;
@c2: #b3000b;
@c3: #d97f85;
@c4: #ffe6d9;
@c5: #274d8e;
@c6: #fe7600;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #a7a7a7;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";