@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,400,400italic,600,600italic,700,700italic,900&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,800,800italic&subset=latin,latin-ext);
@import url(../fontello/css/icons.css);

@media screen {
	
	// Reset
	@import 'normalize';

	// Core utilities, config and mixins
	@import 'config';
	@import 'mixins';
	@import 'buttons';
	@import 'utilities';
	@import 'grid';
	@import 'form';

	// Core CSS
	@import 'type';
	@import 'classes';
	@import 'xart_classes';
	@import 'layout';

	// XART
	// @import 'xart';

}


@media print {
	@import 'print';
	//@import 'xart_print';
}
