nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e813';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
		background: @c4;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c4,3);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: @c2!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@c3,23)!important;
	}
	@media @xs {
		&,thead,tbody,tfoot,tr,td,th {
			display: block;
		}
		th,td {
			border: 0;
			margin: 0 0 1px;
		}
		&.bt thead, &.bt tbody th {
			display: none;
		}
		&.bt tfoot th, &.bt tfoot td, &.bt tbody td {
			vertical-align: top;
			margin: 0 0 1px;
		}

		&.bt tfoot th:before, &.bt tfoot td:before, &.bt tbody td:before {
			content: attr(data-th);
			font-weight: bold;
			margin: -6px 0 -6px -8px;
			padding: 6px 8px;
			width: 40%;
			display: inline-block;
			vertical-align: top;
			word-wrap: break-word;
			color: #fff;
			background: @c2;
		}
		&.bt tfoot th.bt-hide, &.bt tfoot td.bt-hide, &.bt tbody td.bt-hide {
			display: none;
		}
		&.bt tfoot th .bt-content, &.bt tfoot td .bt-content, &.bt tbody td .bt-content {
			vertical-align: top;
			display: inline-block;
			width: 60%;
			padding: 0 0 0 20px;
		}
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display: block;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	.optgroup label{
		display: inline-block;
		font-weight: normal;
	}
	.fileinputs{
		position: relative;
		display: block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 999em;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: block;
			input[type="button"] {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	padding: 20px 0;
	a,span{
		.border-radius(50%);
		.transition(0.2s);
		display: inline-block;
		padding: 0;
		width: 42px;
		height: 42px;
		line-height: 40px;
		font-size: 19px;
		text-align: center;
		margin: 0 0 10px;
		color: @c1;
		vertical-align: middle;
		text-decoration: none;
		border: 1px solid @c2;
		background: #fff;
		&:hover{
			color: #fff;
			background: @c2;
		}
		&.first,&.prev,&.next,&.last {
			line-height: 32px;
			font-weight: normal;
			font-size: 40px;
			color: #9b9b9b;
			border-color: #9b9b9b;
			&:hover{
				color: #fff;
				background: #9b9b9b;
			}
			@media @xs {
				.border-radius(0);
				display: block;
				margin-left: 0;
				margin-right: 0;
				width: auto;
			}
		}
	}
	span.pagenav{
		color: #fff;
		font-weight: bold;
		border-color: transparent;
		background: @c6;
		cursor: default;
	}
	span.pagenav-ico, span.pagenav-ico:hover{
		color: #ccc;
		border-color: transparent;
		background: lighten(@cp,60%);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 6px;
	border-top: 2px solid @c3;
	border-bottom: 2px solid @c3;
}
img.img-left,img[align=left]{
	float: left;
	margin: 5px 25px 5px 0;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
img.img-right,img[align=right]{
	float: right;
	margin: 5px 0 5px 25px;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		.border-radius(6px);
		position: relative;
		padding: 10px 15px 10px 50px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c5;
		&:before{
			.fi;
			content: '\e804';
			position: absolute;
			top: 10px;
			left: 0;
			width: 50px;
			text-align: center;
			font-weight: normal;
		}
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c6;
		&:before{
			content: '\e805';
		}
	}
	.warning,.error{
		background: @c2;
		&:before{
			content: '\e806';
		}
	}
	.error{
		&:before{
			content: '\e807';
		}
	}
}
