
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-facebook-circled:before { content: '\e80a'; } /* '' */
.icon-down-open-big:before { content: '\e80b'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */
.icon-right-open-big:before { content: '\e80d'; } /* '' */
.icon-up-open-big:before { content: '\e80e'; } /* '' */
.icon-calendar-empty:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-arr-left:before { content: '\e812'; } /* '' */
.icon-arr-right:before { content: '\e813'; } /* '' */
.icon-logo:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-zoom-in:before { content: '\e817'; } /* '' */
.icon-filter:before { content: '\e818'; } /* '' */
.icon-down-open-1:before { content: '\e819'; } /* '' */
.icon-left-open-1:before { content: '\e81a'; } /* '' */
.icon-right-open-1:before { content: '\e81b'; } /* '' */
.icon-up-open-1:before { content: '\e81c'; } /* '' */